<mat-toolbar-row class="toolbar">
  <button mat-raised-button color="primary" (click)="backtoProducts()">
    Back
  </button>
</mat-toolbar-row>
<div class="update-Product">
  <form class="update-form" [formGroup]="updateForm">
    <div class="form-group">
      <mat-form-field floatLabel="never">
        <input matInput placeholder="Product Name" formControlName="productname" [value]="product?.name" />
        <mat-error *ngIf="updateForm?.controls.productname.touched && updateForm?.controls.productname.invalid">
          <div *ngIf="updateForm?.controls.productname.errors.required">
            {{ 'productDetails.errors.productNameIsRequired' | translate }}
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field floatLabel="never">
        <input matInput placeholder="Price" formControlName="productprice" [value]="product?.price" type="number" />
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="updateForm?.controls.productprice.touched && updateForm?.controls.productprice.invalid">
          <div *ngIf="updateForm?.controls.productprice.errors.min">
            {{ 'productDetails.errors.productPriceIsRequired' | translate }}
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field floatLabel="never">
      <mat-select placeholder="Categories" [value]="product?.categories" formControlName="productcategory">
        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" (click)="updateProduct()">
        Save
      </button>
      <button mat-raised-button color="primary" (click)="backtoProducts()">
        Cancel
      </button>
    </div>
  </form>
</div>